{
	"dataset" : "imagenet_small",
	"dataset_path" : "${DATASET_PATH}",
	"batch_size" : 1024,
	"epochs" : 20,
	"learning_rate" : 0.001,
	"model_base" : "ff_tower",
	"optimizer" : "adam",
	"cell_type" : "conv",
	"activation" : "elu",
	"time_steps" : 10
}
